.card{
    border: 5px solid black;
    border-radius: 5px;
    background-color: rgb(132, 0, 255);
    color: aliceblue;
    width: 300px;
    height: 240px;
}
.card-header{
    background-color: rgb(71, 236, 79);
    border-radius: 1px;
    
}
h1{
    border-left: 5px solid rgb(122, 177, 240);
    margin-right: 5px;
   
}
.card-body{
    background-color: rgb(255, 255, 255);
    color: black;
}
.img-rouded{
    border-radius: 5px;
}
.card-fonder{
    background-color: chartreuse;
}
.btn-buy{
    background-color: darkgreen;
}
.btn-details{
    background-color: rgb(38, 0, 255);
}
.m-t{
border-radius: 2px;
}
.m-b{
border-bottom: 9px;
}
.color-white{
    color: rgb(255, 255, 255);
}