#titulo{
    color: rgb(0, 255, 21);
    text-align: center;
}
.color{
    background-color: rgb(38, 0, 253);
}
#tabla1{
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.DzI8HHY19P2byMsjF8pHEwHaFj&pid=Api&P=0);
}
body{
  background: url(fondo.jpg);
  background-size: 100%;
}
.center{
    text-align: center;
}
#tlv{
    text-decoration-line: overline underline line-through;
    text-decoration-style: dashed;
    text-decoration-color: rgb(0, 0, 255);
    text-decoration-thickness: 3px;
}
#mp{
    text-decoration: line-through dashed rgb(0, 255, 42) 5px;
}

