.box-model{
    width: 700px;
    border: 10px solid rgb(83, 243, 83);
    padding: 10px;
    margin: 100px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.emAwoWm17WQBnbifxgnkxAHaEM&pid=Api&P=0://tse4.mm.bing.net/th?id=OIP.3gXyzcmtNk-A59Wfa9gNYwHaD4&pid=Api&P=0);
    background-size: 35cm;
    box-shadow: 50px 50px 50px 15px rgb(196, 179, 241), 50px 50px 50px 15px rgb(255, 0, 0);

}
.box-titulo{
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.eBWPNP5C3VKipImd4k_A3AHaE7&pid=Api&P=0);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.box-wh{
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    width: 500px;
    height: 400px;
    margin: 60px;
    outline-offset: 20px;
}
h1{
    background-color: rgb(139, 18, 18) !important;
    text-align: center;
}
.onli{
outline: width 2px; ;
outline-style: double ;
outline-color: blue;
margin: 80px;
}
.onli-rn{
    outline: 1px solid rgb(255, 0, 0);
}
.box-butt{
border-top: 5px solid black;
background-color: brown;
padding: 10px;
}
.box-mar{
    margin-right: 50px;
    border-radius: 10px;
    margin-left: 15px;
}